@font-face {
    font-family: 'Copper';
    src: url(copper.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Futura-heavy';
    src: url(futura-heavy.ttf);
    font-style: normal;
    font-weight: normal;
}
    

.CARD {
    font-variant-caps: petite-caps;
    font-family: 'copper', Courier, monospace;
    background-color: rgb(247, 248, 238);
    margin-left: auto;
    margin-right: auto;
    border: 0px rgb(172, 168, 168) solid;
    aspect-ratio: 3.5 / 2;
    opacity: 80%;
    rotate: .4 1 .30 50deg;
}

.name {
    text-align: center;
    line-height: 0.8px;
    float: none;
    padding-top: 23%;
    font-size: 35px;
    font-size: 2.57vw;
}

.number {
    text-align: left;
    float: left;
    padding: 40px;
    padding: 3.9vw;
    font-size: 20px;
    font-size: 1.7vw;
}

.contact {
    text-align: center;
    vertical-align: bottom;
    font-size: 20px;
    font-size: 1.7vw;
    padding: 30px;
    padding-top: 8%;
}

.company {
    text-align: center;
    line-height: 0.8px;
    float: right;
    padding: 40px;
    padding: 3.9vw;
    font-size: 20px;
    font-size: 1.7vw;
}

.main-title {
    background-color: red;
    padding-left: 10px;
    padding-right: 15px;
    font-family: 'Futura-heavy', Courier, monospace;
    font-size: 60px;
   
    text-align:left;
}

h4 {
    text-align: right;
}

body {
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.sigma-def {
    background-color: red;
    font-family: 'Futura-heavy', Courier, monospace;
    
    padding-left: 10px;
    padding-right: 10px;
}

.main-content {
    rotate: .2 1 0 40deg;
}